{
"presets": [
    ["env", {
        "modules": false,
        "targets": {
          "chrome": "60",
          "edge": "60",
          "node": "current"
        }
      }],
    "@babel/preset-env",
    "@babel/preset-react"
],
"plugins": [
"@babel/plugin-proposal-object-rest-spread"]}